<%= render "services/notice" %>
<turbo-frame id="service_form" data-controller="service">
  <%= form_with model: @service, local: true, id: "service_form", data: { controller: "service", action: "turbo:submit-end->service#refreshPage" } do |f| %>

    <div>
      <%= f.label :name, "Salon Service Name" %>
      <%= f.text_field :name, placeholder: "Enter Salon Service Name" %> <!-- ✅ Use placeholder -->
    </div>

    <div>
      <%= f.label :price, "Price" %>
      <%= f.number_field :price, step: 0.01, required: true %>
    </div>

    <div>
      <%= f.submit @service.new_record? ? "Save Service" : "Update Service" %>
    </div>
  <% end %>
</turbo-frame>
