<h2>Change Your Password</h2>

<%= form_with(url: update_password_path, method: :patch, local: true) do |f| %>
  <div>
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= f.submit "Update Password" %>
  </div>
<% end %>

<%= link_to "Back", root_path %>
