<h1> Welcome to the Page</h1>
<%#= render "services/notice" %>
<%= render "customers/flash" %>
<%= link_to "Password Change", change_password_path %><br>
<%= link_to "Add Service", services_path %><br>
<%= link_to "Add Customer", customers_path %><br>
<%= link_to "Add Combo", combos_path %><br>
<%= link_to "Assign Combo", assign_customer_combos_path(type: "assign") %><br>
<%= link_to "Redeem Combo", assign_customer_combos_path(type: "redeem") %>
