<% if customer && customer.id.present? %>
  <tr id="customer_<%= customer.id %>">
    <td><%= customer.name %></td>
    <td><%= customer.phone_no %></td>
    <td><%= customer.email %></td>
    <td>
      <%= link_to "Edit", edit_customer_path(customer), data: { turbo_frame: "customer_form" } %>
      <%= button_to "Delete", customer_path(customer), method: :delete, data: {
        turbo_confirm: "Are you sure?",
        turbo_stream: true,
        controller: "customer",
        action: "click->customer#deleteCustomer"
      }, class: "btn btn-danger", id: "deleteButton_#{customer.id}" %>
    </td>
  </tr>
<% else %>
  <p>Error: Customer record not found.</p>
<% end %>
