<% if combo && combo.id.present? %>
  <tr id="combo_<%= combo.id %>">
    <td><%= combo.service.name %></td>
    <td><%= combo.count %></td>
    <td><%= combo.discount %>%</td>
    <td><%= combo.total_price %></td>
    <td>
      <%= link_to "Edit", edit_combo_path(combo), data: { turbo_frame: "combo_form" } %>
      <%= button_to "Delete", combo_path(combo), method: :delete, data: {
        turbo_confirm: "Are you sure?",
        turbo_stream: true,
        controller: "combo",
        action: "click->combo#deleteCombo"
      }, class: "btn btn-danger", id: "deleteButton_#{combo.id}" %>
    </td>
  </tr>
<% else %>
  <p>Error: Combo record not found.</p>
<% end %>
