<h1>Select Combos to Assign</h1>

<%= form_with url: assign_combo_path, method: :post do %>
  <% @combos.each do |combo| %>
    <label>
      <%= check_box_tag "combo_ids[]", combo.id %> <%= combo.service.name %> - $<%= combo.total_price %>
    </label>
    <br>
  <% end %>

  <%= hidden_field_tag "customer_id", @customer.id %>

  <%= submit_tag "Assign Combo" %>
<% end %>

